<section class="container">
  <div class="content">
    <div class="icon" (click)="showModal()"></div>
    <div class="top">
      <div class="image"></div>
      <div class="name">
        <p>{{ firstName }} {{ lastName }}</p>
      </div>
    </div>
    <div class="infos">
      <div class="email">
        <p>{{ email }}</p>
      </div>
      <div class="recruiter" *ngIf="roleType == 'ROLE_RECRUITER'">
        <div class="vacancies">
          <p><span>número de vagas:</span> {{ numberVacancies }}</p>
        </div>
      </div>
      <div class="worker" *ngIf="roleType == 'ROLE_WORKER'">
        <div class="openToWork">
          <p><span>aberto a vagas:</span> {{ openToWork }}</p>
        </div>
        <!-- <div class="jobs">
          <p *ngIf="jobExperiences.length == 0">
            <span>adicionar trabalho</span>
            <span class="plus"></span>
          </p>
        </div>
        <div class="academic">
          <p *ngIf="academicFormation.length == 0">
            <span>adicionar formação</span>
            <span class="plus"></span>
          </p>
        </div>
        <div class="skills">
          <p *ngIf="skills.length == 0">
            <span>adicionar skill</span>
            <span class="plus"></span>
          </p>
        </div>
        <div class="certificate">
          <p *ngIf="certificates.length == 0">
            <span>conseguir certificado</span>
            <span class="plus" routerLink="/tests"></span>
          </p>
        </div> -->
      </div>
    </div>
  </div>
</section>

<div class="modal" id="modal">
  <div class="backdrop" (click)="closeModal()"></div>
  <div class="modalContainer">
    <div class="close" (click)="closeModal()">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.4801 6.26993L6.51992 17.2301M17.4801 17.2301L13.4142 13.1642M6.51992 6.26993L10.5858 10.3358"
          stroke="#211D28"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="modalContent">
      <h2>Editar usuário</h2>
      <form #m="ngForm" (ngSubmit)="saveUser(m)">
        <div class="account">
          <div class="row">
            <div class="group">
              <div class="image"></div>
              <input
                type="file"
                id="image"
                name="image"
                accept="image/png, image/jpeg"
              />
            </div>
            <div class="group">
              <div class="subgroup">
                <label>Nome:</label>
                <div class="firstName">
                  <input
                    type="text"
                    name="firstNameModal"
                    [(ngModel)]="firstName"
                  />
                </div>
              </div>
              <div class="subgroup">
                <label>Sobrenome:</label>
                <div class="lastName">
                  <input
                    type="text"
                    name="lastNameModal"
                    [(ngModel)]="lastName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="group">
              <label>Email:</label>
              <div class="email">
                <input type="text" name="emailModal" [(ngModel)]="email" />
              </div>
            </div>
            <div class="group">
              <label>CPF:</label>
              <div class="cpf">
                <input type="text" name="cpfModal" [(ngModel)]="cpf" />
              </div>
            </div>
          </div>
        </div>
        <input class="button" type="submit" value="Salvar" />
      </form>
    </div>
  </div>
</div>
