<section class="container">
  <div class="content">
    <div class="icon" (click)="showModal()"></div>
    <div class="top">
      <div
        class="image"
        [style.backgroundImage]="
          image == null
            ? 'url(../../../../assets/imageDefault.png)'
            : 'url(' + image + ')'
        "
      ></div>
      <div class="name">
        <p>{{ firstName }} {{ lastName }}</p>
      </div>
    </div>
    <div class="infos">
      <div class="email">
        <p>{{ email }}</p>
      </div>
      <div class="worker" *ngIf="roleType == 'ROLE_WORKER'">
        <div class="openToWork">
          <p><span>aberto a vagas:</span> {{ openToWork }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="modal">
  <div class="backdrop" (click)="closeModal()"></div>
  <div class="modalContainer">
    <div class="close" (click)="closeModal()">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.4801 6.26993L6.51992 17.2301M17.4801 17.2301L13.4142 13.1642M6.51992 6.26993L10.5858 10.3358"
          stroke="#211D28"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="modalContent">
      <h2>Editar usuário</h2>
      <form #m="ngForm" (ngSubmit)="saveUser(m)">
        <div class="account">
          <div class="row">
            <div class="group">
              <label>Nome:</label>
              <div class="firstName">
                <input
                  type="text"
                  name="firstNameModal"
                  [(ngModel)]="firstName"
                />
              </div>
            </div>
            <div class="group">
              <label>Sobrenome:</label>
              <div class="lastName">
                <input
                  type="text"
                  name="lastNameModal"
                  [(ngModel)]="lastName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="group">
              <label>Email:</label>
              <div class="email">
                <input type="text" name="emailModal" [(ngModel)]="email" />
              </div>
            </div>
            <div class="group">
              <label>CPF:</label>
              <div class="cpf">
                <input type="text" name="cpfModal" [(ngModel)]="cpf" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="group">
              <label>Foto de perfil:</label>
              <input
                type="file"
                id="image"
                name="imageModal"
                (change)="selectFile($event)"
                accept="image/png, image/jpeg"
              />
            </div>
            <div class="group" *ngIf="roleType == 'ROLE_WORKER'">
              <label class="openToWorkLabel">Aberto a vagas:</label>
              <div class="openToWork">
                <input
                  type="checkbox"
                  name="openToWorkModal"
                  id="switch"
                  [(ngModel)]="openToWorkModal"
                /><label for="switch">Toggle</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="roleType == 'ROLE_WORKER'">
            <div class="group">
              <label>Experiências profissionais:</label>
              <div class="jobs">
                <div class="job" *ngFor="let job of jobExperiences">
                  <div class="infos">
                    <p>
                      <span><i>cargo:</i></span> {{ job.jobTitle }}
                    </p>
                    <p>
                      <span><i>empresa:</i></span> {{ job.companyName }}
                    </p>
                  </div>
                  <div class="description">
                    <span><i>descrição:</i></span>
                    <p>{{ job.description }}</p>
                  </div>
                  <div class="dates">
                    <p>
                      <span><i>data de início:</i></span> {{ job.startDate }}
                    </p>
                    <p>
                      <span><i>date de saída:</i></span> {{ job.endDate }}
                    </p>
                  </div>
                </div>
                <form #job="ngForm" (ngSubmit)="addJob(job)">
                  <div class="add">
                    <div class="row">
                      <div class="group">
                        <label>Cargo:</label>
                        <div class="title">
                          <input
                            type="text"
                            name="titleJob"
                            [(ngModel)]="titleJob"
                          />
                        </div>
                      </div>
                      <div class="group">
                        <label>Nome da empresa:</label>
                        <div class="companyName">
                          <input
                            type="text"
                            name="companyNameJob"
                            [(ngModel)]="companyNameJob"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <label>Descrição da Vaga:</label>
                        <div class="description">
                          <textarea
                            name="descriptionJob"
                            [(ngModel)]="descriptionJob"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <label>Data de início:</label>
                        <div class="startDate">
                          <input
                            type="date"
                            name="startJob"
                            [(ngModel)]="startJob"
                          />
                        </div>
                      </div>
                      <div class="group">
                        <label>Data de saída:</label>
                        <div class="endDate">
                          <input
                            type="date"
                            name="endJob"
                            [(ngModel)]="endJob"
                          />
                        </div>
                      </div>
                      <div class="group">
                        <input class="button" type="submit" value="Adicionar" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="roleType == 'ROLE_WORKER'">
            <div class="group">
              <label>Formação acadêmica:</label>
              <div class="studies">
                <div class="study" *ngFor="let study of academicFormation">
                  <div class="infos">
                    <p>
                      <span><i>instituição:</i></span>
                      {{ study.institutionName }}
                    </p>
                    <p *ngIf="study.academicFormationType == 'BACHELOR_DEGREE'">
                      <span><i>formação:</i></span>
                      Bacharelado
                    </p>
                    <p
                      *ngIf="study.academicFormationType == 'TECHNICAL_DEGREE'"
                    >
                      <span><i>formação:</i></span>
                      Técnico
                    </p>
                    <p *ngIf="study.academicFormationType == 'SCHOOL'">
                      <span><i>formação:</i></span>
                      Ensino Fundamental
                    </p>
                    <p *ngIf="study.academicFormationType == 'HIGH_SCHOOL'">
                      <span><i>formação:</i></span>
                      Ensino Médio
                    </p>
                  </div>
                  <div class="description">
                    <span><i>descrição:</i></span>
                    <p>{{ study.description }}</p>
                  </div>
                  <div class="dates">
                    <p>
                      <span><i>data de início:</i></span> {{ study.startDate }}
                    </p>
                    <p>
                      <span><i>date de término:</i></span> {{ study.endDate }}
                    </p>
                  </div>
                </div>
                <form #study="ngForm" (ngSubmit)="addStudy(study)">
                  <div class="add">
                    <div class="row">
                      <div class="group">
                        <label>Instituição:</label>
                        <div class="title">
                          <input
                            type="text"
                            name="titleStudy"
                            [(ngModel)]="titleStudy"
                          />
                        </div>
                      </div>
                      <div class="group">
                        <label>Formação:</label>
                        <div class="formation">
                          <select
                            name="formationStudy"
                            [(ngModel)]="formationStudy"
                          >
                            <option value="0">Bacharelado</option>
                            <option value="1">Técnico</option>
                            <option value="2">Ensino Fundamental</option>
                            <option value="3">Ensino Médio</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <label>Descrição da formação:</label>
                        <div class="description">
                          <textarea
                            name="descriptionStudy"
                            [(ngModel)]="descriptionStudy"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <label>Data de início:</label>
                        <div class="startDate">
                          <input
                            type="date"
                            name="startStudy"
                            [(ngModel)]="startStudy"
                          />
                        </div>
                      </div>
                      <div class="group">
                        <label>Data de término:</label>
                        <div class="endDate">
                          <input
                            type="date"
                            name="endStudy"
                            [(ngModel)]="endStudy"
                          />
                        </div>
                      </div>
                      <div class="group">
                        <input class="button" type="submit" value="Adicionar" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <input class="button" type="submit" value="Salvar" />
      </form>
    </div>
  </div>
</div>
